body {
   background-color: gainsboro;
   width: 100vw;
   height: 100vh;
   position: relative;
}

/* start header */
header {
   height: 7vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 0 20rem 0rem rgba(0, 0, 0, 0.09);
   background-color: #d8d8d8;
}

header .contacts {
   padding-right: 20rem;
}

header i {
   color: var(--mainColor);
   font-size: 20rem;
   padding-right: 8rem;
   cursor: pointer;
   transition: color 0.15s ease-in-out, font-size 0.15s ease-in-out;
}

header i:hover {
   color: var(--secDimmed);
   font-size: 21.5rem;
}

header .logout {
   padding-right: 20rem;
   color: rgb(122, 122, 122);
}

.logo {
   font-weight: 900;
   color: white;
   font-size: 30rem;
   padding: 0 50rem;
   position: relative;
}

header img {
   width: 45rem;
   position: absolute;
   right: -5rem;
   top: -2rem;
}
/* end header */

/* start profile */
.global-heading {
   color: var(--secDimmed);
   margin-top: 30rem;
   font-size: 85rem;
}

.profile {
   padding: 50rem 30rem;
   width: 100%;
   margin: 40rem auto;
   display: grid;
   grid-template-columns: 300rem 1fr;
   gap: 20rem;
   position: relative;
   background-color: #c6c6c68a;
   border-radius: 5rem;
   box-shadow: 0px 4px 6rem 0rem rgba(0, 0, 0, 0.113);
}

.profile-info {
   display: grid;
   grid-template-columns: 250rem 1fr;
   justify-content: center;
   gap: 20rem;
}

.textual-info {
   display: grid;
   gap: 15rem;
}

.textual-info p {
   background-color: #c6c6c6;
   padding: 10rem;
   text-align: center;
   border-radius: 6rem;
}

label {
   background-color: var(--secDimmed);
   padding: 10rem;
   color: var(--mainColor);
   border-radius: 6rem;
   display: flex;
   justify-content: center;
}

.profile img {
   position: absolute;
   width: 220rem;
   border-radius: 5rem;
   box-shadow: -5px 5px 4rem 0rem rgba(0, 0, 0, 0.09);
}
/* end profile */

/* start table */

.appointment {
   font-size: 75rem;
}

.appointment-table {
   border-collapse: collapse;
   margin: 20rem auto;
   width: 100%;
}

.appointment-table th,
.appointment-table td {
   border: 1rem solid #ddd;
   padding: 15rem;
   text-align: left;
   width: calc(100% / 3);
}

.appointment-table th {
   background-color: #b1b1b1;
   font-weight: bold;
   color: var(--mainColor);
}

.appointment-table tbody tr:nth-child(odd) {
   background-color: #e4e3e3;
}

.appointment-table tbody tr:nth-child(even) {
   background-color: #c9c9c9;
}

.appointment-table tbody tr:hover {
   background-color: var(--secDimmed);
}
