/* start global rules */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Nunito", sans-serif;
   --mainColor: rgb(255, 255, 255);
   --secColor: #40e6f6;
   --secDimmed: #3bd9e8;
   --sectionPadding: 80rem;
   --buttonTrans: background-color 0.3s ease;
   --inputShadow: inset 0 0 2rem 0px rgba(0, 0, 0, 0.1);
}

*:focus {
   outline: none;
}

html {
   font-size: 6.25%;
   scroll-behavior: smooth;
}

body {
   font-size: 16rem;
}

img {
   max-width: 100%;
}

button {
   border: none;
   cursor: pointer;
}

a {
   text-decoration: none;
}

/* Global section heading */
.global-heading {
   color: #ebeced;
   font-size: 100rem;
   text-align: center;
   font-weight: 800;
   letter-spacing: -3rem;
}

.global-heading + p {
   margin-top: -40rem;
   text-align: center;
}

/* General error message */
.error-message {
   text-align: center;
   color: red;
   letter-spacing: 1.2rem;
}

/* Media query */
.container {
   margin: 0 auto;
}

/* x-small devices */
@media (max-width: 576px) {
   .container {
      width: 100%;
   }
}

/*small devices */
@media (min-width: 576px) {
   .container {
      width: 540px;
   }
}

/*medium devices */
@media (min-width: 768px) {
   .container {
      width: 720px;
   }
}

/*large devices */
@media (min-width: 992px) {
   .container {
      width: 960px;
   }
}

/* x-large devices */
@media (min-width: 1200px) {
   .container {
      width: 1140px;
   }
}

/* xx-large devices */
@media (min-width: 1400px) {
   .container {
      width: 1320px;
   }
}
